In [120]:
import pandas as pd

In [121]:
data = pd.read_csv('kafka_messages_2024_04_20.txt', delimiter=',', header=None)

In [122]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,2024-04-20T00:00:00.199088,886374,recommendation request 17645-team05.isri.cmu.e...,status 200,result: rashomon+1950,the+apartment+1960,his+girl+friday+1940,the+shawshank+redemption+1994,buena+vista+social+club+1999,princess+mononoke+1997,...,my+neighbor+totoro+1988,little+big+man+1970,the+triplets+of+belleville+2003,the+400+blows+1959,the+seventh+seal+1957,castle+in+the+sky+1986,schindlers+list+1993,m+1931,paths+of+glory+1957,127 ms
1,2024-04-20T00:00:00.349746,346047,recommendation request 17645-team05.isri.cmu.e...,status 200,result: rashomon+1950,the+apartment+1960,his+girl+friday+1940,the+shawshank+redemption+1994,buena+vista+social+club+1999,princess+mononoke+1997,...,my+neighbor+totoro+1988,little+big+man+1970,the+triplets+of+belleville+2003,the+400+blows+1959,the+seventh+seal+1957,castle+in+the+sky+1986,schindlers+list+1993,m+1931,paths+of+glory+1957,257 ms
2,2024-04-20T00:00:00.514431,715740,recommendation request 17645-team05.isri.cmu.e...,status 200,result: rashomon+1950,the+apartment+1960,his+girl+friday+1940,the+shawshank+redemption+1994,buena+vista+social+club+1999,princess+mononoke+1997,...,my+neighbor+totoro+1988,little+big+man+1970,the+triplets+of+belleville+2003,the+400+blows+1959,the+seventh+seal+1957,castle+in+the+sky+1986,schindlers+list+1993,m+1931,paths+of+glory+1957,423 ms
3,2024-04-20T00:00:00.532827,150921,recommendation request 17645-team05.isri.cmu.e...,status 200,result: rashomon+1950,the+apartment+1960,his+girl+friday+1940,the+shawshank+redemption+1994,buena+vista+social+club+1999,princess+mononoke+1997,...,my+neighbor+totoro+1988,little+big+man+1970,the+triplets+of+belleville+2003,the+400+blows+1959,the+seventh+seal+1957,castle+in+the+sky+1986,schindlers+list+1993,m+1931,paths+of+glory+1957,431 ms
4,2024-04-20T00:00:00.538308,200203,recommendation request 17645-team05.isri.cmu.e...,status 200,result: rashomon+1950,the+apartment+1960,his+girl+friday+1940,the+shawshank+redemption+1994,buena+vista+social+club+1999,princess+mononoke+1997,...,my+neighbor+totoro+1988,little+big+man+1970,the+triplets+of+belleville+2003,the+400+blows+1959,the+seventh+seal+1957,castle+in+the+sky+1986,schindlers+list+1993,m+1931,paths+of+glory+1957,447 ms

In [123]:
data.columns

Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24],
      dtype='int64')

In [124]:
data.drop([2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24], axis=1,inplace=True)

In [125]:
data.head()

                            0       1
0  2024-04-20T00:00:00.199088  886374
1  2024-04-20T00:00:00.349746  346047
2  2024-04-20T00:00:00.514431  715740
3  2024-04-20T00:00:00.532827  150921
4  2024-04-20T00:00:00.538308  200203

In [126]:
import pandas as pd

# Assuming 'data' is your DataFrame and 'data[0]' is the column with the strings.

# Function to join parts of the string up to the nth colon
def join_until_nth_colon(s, val):
    parts = s.split(':')
    return ':'.join(parts[:val]) if len(parts) >= val else s

# Apply the function to each row in the column with the respective 'val'
data['mins'] = data[0].apply(join_until_nth_colon, val=2)
data['hours'] = data[0].apply(join_until_nth_colon, val=1)
data['day'] = data[0].str.split("T").str[0]

In [127]:
len(data.groupby(1).count())

286262

## Recommendation requests sent by a user per minute

It will display the number of requests sent by a user in 1 minute if it exceeds the threshold.

In [130]:
threshold = 1
result = data.groupby([1, 'mins']).size().reset_index(name='Count')

# Filter the groups with count more than 2
filtered_result = result[result['Count'] > threshold]

print(filtered_result)

             1              mins  Count
121265  323781  2024-04-20T18:41      2
140338  374175  2024-04-20T21:58      2
150172  400439  2024-04-20T20:57      2
169590  451652  2024-04-20T17:13      2
178175  474556  2024-04-20T15:43      2
186361  496754  2024-04-20T21:46      2
278335  742588  2024-04-20T15:13      2
372776  993889  2024-04-20T15:38      2

## Recommendation requests sent by a user per hour

It will display the number of requests sent by a user in 1 hour if it exceeds the threshold.

In [133]:
threshold = 2

result = data.groupby([1, 'hours']).size().reset_index(name='Count')

# Filter the groups with count more than 2
filtered_result = result[result['Count'] > threshold]

print(filtered_result)

             1          hours  Count
216672  578411  2024-04-20T16      3
334628  894901  2024-04-20T20      3

## Recommendation requests sent by a user per day

It will display the number of requests sent by a user in 1 day if it exceeds the threshold.

In [136]:
threshold = 2

result = data.groupby([1, 'day']).size().reset_index(name='Count')

# Filter the groups with count more than 2
filtered_result = result[result['Count'] > threshold]

print(filtered_result)

             1         day  Count
13          74  2024-04-20      5
14          80  2024-04-20      3
44         154  2024-04-20      4
56         189  2024-04-20      3
60         206  2024-04-20      3
...        ...         ...    ...
286110  999488  2024-04-20      3
286155  999649  2024-04-20      3
286193  999782  2024-04-20      3
286211  999826  2024-04-20      3
286241  999923  2024-04-20      3

[14524 rows x 3 columns]