In [37]:
import pandas as pd
import json

In [11]:
with open('data/small/movies_s1.json', 'r') as file:
    movie_data = json.load(file)

len(movie_data)

6345

In [45]:
# for now, can be modified later
# movie_id + user_id + original_language + popularity + runtime + vote_average

movie_dict = {
    "movie_id": [],
    "user_id": [],
    "original_language": [],
    "popularity": [],
    "runtime": [],
    "vote_average": []
}

for key, value in movie_data.items():
    for user in value['users']:
        movie_dict['movie_id'].append(key)
        movie_dict['user_id'].append(user)
        
        # below arrtibutes can be missing in json file
        try:
            movie_dict['original_language'].append(value['details']['original_language'])
        except KeyError:
            movie_dict['original_language'].append("N/A")
            
        try:
            movie_dict['popularity'].append(value['details']['popularity'])
        except KeyError:
            movie_dict['popularity'].append("N/A")
            
        try:
            movie_dict['runtime'].append(value['details']['runtime'])
        except KeyError:
            movie_dict['runtime'].append("N/A")
            
        try:
            movie_dict['vote_average'].append(value['details']['vote_average'])
        except KeyError:
            movie_dict['vote_average'].append("N/A")

In [46]:
print(len(movie_dict['movie_id']))
print(len(movie_dict['user_id']))
print(len(movie_dict['original_language']))
print(len(movie_dict['popularity']))
print(len(movie_dict['runtime']))
print(len(movie_dict['vote_average']))

88078
88078
88078
88078
88078
88078

In [47]:
movie_df = pd.DataFrame(movie_dict)

In [48]:
movie_df

,movie_id,user_id,original_language,popularity,runtime,vote_average
0,the+dreamers+2003,202605,en,6.685981,115,7.2
1,the+dreamers+2003,651,en,6.685981,115,7.2
2,the+dreamers+2003,152385,en,6.685981,115,7.2
3,the+dreamers+2003,52515,en,6.685981,115,7.2
4,the+dreamers+2003,173889,en,6.685981,115,7.2
...,...,...,...,...,...,...
88073,the+wicker+man+2006,44751,en,9.423256,102,4.0
88074,the+shooter+1997,152902,en,0.112249,91,5.0
88075,jcvd+2008,169288,fr,6.670933,96,6.6
88076,captain+phillips+2013,185279,en,13.776068,134,7.6
88077,a+touch+of+class+1973,8843,en,1.11576,106,6.0